<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Node handler -->
    <handlers>
      <add name="iisnode" path="server/server.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- API calls -->
        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server/server.cjs" />
        </rule>

        <!-- Static files (dist) -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- React routing -->
        <rule name="ReactRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/dist/index.html" />
        </rule>

      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="dist/index.html" />
      </files>
    </defaultDocument>

    <iisnode loggingEnabled="true" devErrorsEnabled="true" />

  </system.webServer>
</configuration>